
.modal-header {
  background-color: #96c93d;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.modal-header .modal-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #FFF;
  font-weight: bold;
}
.modal-header .modal-title.ico-modal-ds {
  padding-left: 40px;  
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}
.modal-header .close {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 1;
  line-height: 20px;
  text-align: center;
  border: 3px solid #96c93d;
}
.modal-body h4.text-center {
  margin: 10px 0 20px;
}
